<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JYGraphTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5D5822BF1D61CCF6000C3558</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D5822D81D61CCF6000C3558</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D5822E31D61CCF6000C3558</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
